@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-title: var(--font-bebas);
  --font-body: var(--font-pt-sans);

  --background: #ffffff;
  --foreground: #171717;

  --primary: #23b2f9;
  --primary-hover: #1a8ac2;
  --primary-active: #166a8c;

  --secondary: #051735;
  --secondary-hover: #040f25;
  --secondary-active: #030a1b;

  --support: #cd0001;
  --support-hover: #a40000;
  --support-active: #7a0000;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-bebas: var(--font-bebas);
  --font-pt: var(--font-pt-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);

  --color-support: var(--support);
  --color-support-hover: var(--support-hover);
  --color-support-active: var(--support-active);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-title);
  }
}
